<h2>Mi Carrito</h2>

<table class="tabla">
    <tr>
        <th>Producto</th>
        <th>Imagen</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>

    <% items.forEach(item => { %>
        <tr>
            <td><%= item.nombre %></td>
            <td><img src="<%= item.imagen %>" class="img-carrito"></td>

            <td>
                <form action="/carrito/menos/<%= item.id %>" method="POST" class="inline">
                    <button>-</button>
                </form>

                <span><%= item.cantidad %></span>

                <form action="/carrito/mas/<%= item.id %>" method="POST" class="inline">
                    <button>+</button>
                </form>
            </td>

            <td>$ <%= item.precio %></td>
            <td>$ <%= item.cantidad * item.precio %></td>

            <td>
                <form action="/carrito/eliminar/<%= item.id %>" method="POST">
                    <button class="eliminar">Eliminar</button>
                </form>
            </td>
        </tr>
    <% }) %>
</table>

<h3>Total: $<%= total %></h3>

<form action="/comprar" method="POST">
    <button class="comprar">Finalizar compra</button>
</form>
